body{
	font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
header nav{
	background-color: #2C3E50;
	padding: 10px 0;
	font-weight: bold;
	font-size: 18px;
}
.nav>li>a{
	color: #fafafa;
}
.nav>li>a:focus, .nav>li>a:hover{
	background: #5b6c7d;
}
.top-contents{
	background: #59c1b8;
	padding-top: 100px;
	color: #fff;
}
.body-contents article{
	margin: 10px 0;
	padding: 20px 0 30px;
}
.warp {
	padding-top: 120px;
}