<div>
    <h2>Posts</h2>
</div>
<table>
  <colgroup>
    <col width="10%"/>
    <col width="10%"/>
    <col width=""/>
    <col width=""/>
  </colgroup>
  <thead>
  <tr>
      <th>#</th>
      <th>User</th>
      <th>Subject</th>
      <th>Article</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
