<div class="warp container">
  <table class="talbe">
    <colgroup>
      <col width="10%"/>
      <col width="10%"/>
      <col width="20%"/>
      <col width="60%"/>
    </colgroup>
    <thead>
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Subject</th>
        <th>Article</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

