<div>
    <h2>게시판</h2>
</div>
<div>
    <ol>
        <li><a href="#">Home</a></li>
        <li>Posts</li>
    </ol>
</div>
<table class="list">
    <colgroup>
      <col width="10%"/>
      <col width="10%"/>
      <col width=""/>
      <col width=""/>
    </colgroup>
    <thead>
    <tr>
        <th>글 번호</th>
        <th>사용자</th>
        <th>제목</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
